<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="alfianagramerry.mobpro.tugasbesar.androidtutorial">

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ProgramLain.GyroscopeSensor.GyroscopeSensor"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.KeyboardSamples.KeyboardSamples"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.MaterialMe.MaterialMe"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.MaterialMe.DetailActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.AlertSample.AlertSample"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.TabLateral.TabLateral"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.AsyncTask.AsyncTask"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.NotifyMe.NotifyMe"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.Recycler.Recycler"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.PhoneNumberSpinner.PhoneNumberSpinner"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.WhoWriteApp.WhoWriteApp"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.DateTimePicker.DateTimePicker"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.DroidCafe.DroidCafe"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.DroidCafe.OrderActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.TwoActivities.TwoActivities"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProgramLain.TwoActivities.SecondActivity"
            android:parentActivityName=".MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Root.AboutUs"></activity>
    </application>

</manifest>